<div class="header">
  <mat-toolbar color="primary">
    <span>NG Chat</span>
    <span class="header__spacer"></span>

    <button
      mat-raised-button
      (click)="loginWithGoogle()"
      *ngIf="!(isLoggedIn$ | async); else loggedIn"
    >
      Login
    </button>

    <ng-template #loggedIn>
      <button mat-raised-button (click)="signOut()">Logout</button>
      <a class="header__link" [routerLink]="['/chat']" routerLinkActive="router-link-active">
        Chat
      </a>
    </ng-template>
  </mat-toolbar>
</div>
